.modalUser {
    @media (max-device-width: 576px) {
        width: 80%;
    }
}

.user-table {
    i {
        padding-right: 6px;
    }

    .edit {
        color: orange;
        cursor: pointer;
    }

    .delete {
        color: red;
        cursor: pointer;
    }
}